@import url("base_style.css");

/* Back Button */
.btn-secondary {
    width: 100%;
    background-color: #6c757d;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
